<!DOCTYPE html>
<html>
<head>
 <title>Json File Management</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("#cancelbtn").click(function(){
    	location.reload();
    }); 
   
   $(document).on("change", "#selectedMarketNames", function() {
		if( $("#selectedMarketNames").val() =='-1')
		{
			location.reload();
			
		}
		
     $("#marketName").val( this.value ); 
     $("#fileName").val( $("#fileNamevalue").val());
     $("#fileURL").val( $("#fileURLvalue").val());

  }).val( $('#marketName').val() ).change();
  
  	  
   });
</script>
<% include head.ejs%>
		<script>
			$(document).ready(function(){
			 $('.sidebar-nav li a').click(function() {
			 		window.location.href = $(this).attr('href');
			 	});
			 $("#menu-toggle").click(function(e) {
    		    	e.preventDefault();
        			$("#wrapper").toggleClass("toggled");
    			});
		}); 
		</script>
		
	</head>
	<body>
		<% include header.ejs%>
		
		<div id="wrapper">
			<div id="sidebar-wrapper">
				<% include menu.html %>
			</div>
			<div id="page-content-wrapper">
				<a href="#menu-toggle"  class = "fa fa-arrow-circle-left fa-3x" id="menu-toggle"></a>

<table width="100%" >
		<tr>
		<h2 style="color:#0D4F8B;">Json File Management</h2>
		</br>
		<form name="jasonFileManagementForm" action="/jsonfile" method="post">
		<input type="hidden" id ="marketId" name="marketId" value="">
		</tr>
		<tr>
		
		<tr><td >
			<p style="color:#000000;" align="left"  >
						Select Market Names
			</p></td>
			<td><p style="color:#000000;">
						<select name="selectedMarketNames" id ="selectedMarketNames"> 
						<option value="">-- Select --</option>
						<% for(var i=0; i<abc.item2.length; i++) {%>
  						<option id="idoption" value="<%= abc.item2[i] %>" ><%= abc.item2[i] %></option>
  						<% } %></select></td></p>
			
		</tr>		
			
		<tr height="20px" width="100px" align="left"></tr>	
			<tr><td style="width: 200px;" >							
					    	<span style="color:#000000;">MotoService Market Name </span>
				</td>
				<td style="color:#0000ff;">
					    	<input id ="marketName" name="marketName" type="text" value=""><span id="marketNameError" style="color='display ='none'"> </span>
				</td>
		</tr>
		</tr>
		
		<tr align="left">
			<td style="width: 200px;">
							<span style="color:#000000;"> File Name  </span>
			</td>
			<td style="color:#0000ff;">
							<input id="fileNamevalue" value = "<%= abc.item3[0] %>" type="hidden"/>
							<input id ="fileName" name="fileName" type="text" value=""><span id="fileNameError" style="color='display ='none'"> </span>
			</td>
		</tr>
		
			
		<tr>
			<td style="width: 200px;">
							<span style="color:#000000;">File URL </span>
			</td>
			<td style="color:#0000ff;">
							<input id="fileURLvalue" value = "<%= abc.item3[1] %>" type="hidden"/>
							<input id ="fileURL" name="fileURL" type="text" value=""> <span id="fileURLError" style="color='display ='none'"> </span>
			</td>
		</tr>	
		
		<tr height="20px"></tr>
		
		</tr>
	</tr>
					
	
	<tr>
		<td>
			<input name="savebutton" type="submit" value="SAVE" id="savebtn" />
		
			<input type="button" name="Cancel" value="CANCEL" id="cancelbtn">
		</td>
	</tr>
	</table> 
		</form>
	</body>
</html>

