<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Loading Test Case</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>
$(document).ready(function(){
   $("#cancelbtn").click(function(){
    	location.reload();
    }); 
    });  
</script>
</head>
		<% include head.ejs%>
		<script>
			$(document).ready(function(){
			 $('.sidebar-nav li a').click(function() {
			 		window.location.href = $(this).attr('href');
			 	});
			 $("#menu-toggle").click(function(e) {
    		    	e.preventDefault();
        			$("#wrapper").toggleClass("toggled");
    			});
		}); 
		</script>
		
	</head>
	<body>
		<% include header.ejs%>
		
		<div id="wrapper">
			<div id="sidebar-wrapper">
				<% include menu.html %>
			</div>
			<div id="page-content-wrapper">
				<a href="#menu-toggle"  class = "fa fa-arrow-circle-left fa-3x" id="menu-toggle"></a>
 
<form name = "formName" method="post" enctype="multipart/form-data" action="/uploadtestcase">
<table>
<tr>
<td><p><h2>Load Supported Test Cases</h2></p></td>
</tr>
<tr>   </tr>
<tr>
<td><p><span style="color:#0000ff;"> Select the text file</span></p><p><span style="color:#0000ff;"> <input type="file" name="fileupload" id="fileupload"></span></p></td></tr>
<tr><td> 
<br></td>  </tr>                                                                               

<td><p> <input type="submit" >  <input type="button" name="Reset" value="Reset" id="cancelbtn"></p></td>
</tr>
<td>
	<br>
	<hr>
       <p><span style="color:#0000ff;">
            *Dear User, Please make sure you are following the below instructions*
            <br>
            	a. Select only flat text(.txt) file.
            	<br>
            	b. Parameters must be separated by comma.
            	<br> </span>           
        </p>
     <hr>
</td>      
</tr>

<tr>
  </tr>
</table>
</form>
</body>
</html>